
.Navigation
{
    position: fixed;
    right: 1%;
    top: 50%;
    border: 1px;
    border-style: solid;
    padding: 5px;
    height: 350px;
    width: 12%;
    background-color:#fff;
    min-width:150px;    
    text-align:left;
    border-radius:5px;
}