.Verse:hover
{
    background: #ccf; /* make this whatever you want */
}


/* Tooltip container */
.VerseTooltip {
    position: relative;
    display: inline-block;
  }
  
  /* Tooltip text */
  .VerseTooltip .tooltiptext {
    visibility: hidden;
    background-color: black!important;
    color: #fff!important;
    text-align: left;
    padding: 5px;
    border-radius: 6px;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .VerseTooltip:hover .tooltiptext {
    visibility: visible;
  }

  .VerseTooltip .tooltiptext {
    width: 100%;
    top: 100%;
    left: 0%; 
    margin-left: 0px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }

  .VerseTooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent!important;
  }